{% extends "scitex_ui/standalone_shell.html" %}
{% load scitex_i18n scitex_static %}
{% block extra_css %}
    <link rel="stylesheet"
          crossorigin
          href="{% app_static 'figrecipe/assets/index.css' %}">
{% endblock %}
{% block app_content %}
    <div id="root"
         data-working-dir="{{ working_dir|default:'' }}"
         data-app-name="figrecipe"
         data-version="{{ app_version|default:'' }}"></div>
{% endblock %}
{% block extra_js %}
    {% scitex_js_catalog "figrecipe._django" %}
    <script type="module"
            crossorigin
            src="{% app_static 'figrecipe/assets/index.js' %}"></script>
{% endblock %}
