{% extends "scitex_ui/standalone_shell.html" %}
{% load static scitex_i18n %}
{% block extra_css %}
    <link rel="stylesheet"
          crossorigin
          href="{% static 'figrecipe/assets/index.css' %}">
{% endblock %}
{% block app_content %}
    <div id="root"
         data-working-dir="{{ working_dir|default:'' }}"
         data-app-name="figrecipe"></div>
{% endblock %}
{% block extra_js %}
    {% scitex_js_catalog "figrecipe._django" %}
    <script type="module"
            crossorigin
            src="{% static 'figrecipe/assets/index.js' %}"></script>
{% endblock %}
